section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .inner {
  width: 700px;
  height: 400px;
  display: flex;
  background-image: url("https://mblogthumb-phinf.pstatic.net/20160309_168/jihae1262_1457507280505JC1Ui_JPEG/image_%283%29.jpg?type=w2");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
}

section .inner a {
  display: flex;
  width: 150px;
  height: 70px;
  padding: 20px;
  margin: 30px;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 20px;
}

section .inner a:hover {
  opacity: 1;
}